# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# ML Models
*.pkl
*.joblib

# Dataset
data/
*.csv
*.xlsx

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db