<!DOCTYPE html>
<html>

<head>

<title>NYC Goldmine Map</title>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>

<style>

#map{
height:750px;
width:100%;
}

</style>

</head>

<body>

<h1>NYC House Price Map</h1>

<div id="map"></div>

<script>

var map = L.map('map').setView([40.7128,-74.0060],10)

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
maxZoom:19
}).addTo(map)


Promise.all([
fetch("/static/nyc.geojson").then(r=>r.json()),
fetch("/goldmine-map-data").then(r=>r.json())
]).then(([geojson,data])=>{

/* =======================
   Borough Average Price
======================= */

let boroughPrice={}

data.forEach(d=>{

let borough=d.STATE

if(!boroughPrice[borough]){
boroughPrice[borough]=[]
}

boroughPrice[borough].push(d.pred_price)

})

Object.keys(boroughPrice).forEach(b=>{

let avg = boroughPrice[b].reduce((a,c)=>a+c,0)/boroughPrice[b].length
boroughPrice[b]=avg

})



/* =======================
        COLOR SCALE
======================= */

function getColor(p){

return p>2000000?'#800026':
p>1500000?'#BD0026':
p>1000000?'#E31A1C':
p>700000?'#FC4E2A':
p>500000?'#FD8D3C':
p>300000?'#FEB24C':
'#FED976'

}


/* =======================
      STYLE MAP AREA
======================= */

function style(feature){

let area=feature.properties.borough
let price=boroughPrice[area]||0

return{
fillColor:getColor(price),
weight:1,
opacity:1,
color:'white',
fillOpacity:0.7
}

}


/* =======================
     DRAW CHOROPLETH
======================= */

L.geoJson(geojson,{
style:style
}).addTo(map)



/* =======================
        HEATMAP
======================= */

const heatData=data.map(d=>[
d.latitude,
d.longitude,
d.pred_price/1000000
])

L.heatLayer(heatData,{
radius:30,
blur:25,
maxZoom:12
}).addTo(map)

})


/* =======================
      ECONOMIC HUBS
======================= */

var hubs=[

[40.7580,-73.9855], // Midtown
[40.7081,-74.0093], // Financial District
[40.6925,-73.9868], // Downtown Brooklyn
[40.7447,-73.9485], // Long Island City
[40.7654,-73.8282], // Flushing
[40.7024,-73.7966], // Jamaica
[40.8162,-73.9165], // Bronx Hub
[40.6437,-74.0759]  // Staten Island

]

hubs.forEach(h=>{

L.circleMarker(h,{
radius:8,
color:"yellow",
fillColor:"yellow",
fillOpacity:1
}).addTo(map)

})

</script>

</body>

</html>